* {                         /*USADO para formatar todos os elementos do site*/
    margin: 0%;             /*espeçamento externo entre os elementos*/
    padding: 0%;            /*espaçamento interno entre os elementos*/
  }
  
  body {                          /*estilização do corpo do site*/
    background: #110213;        /*cor de fundo fora do corpo do site*/
    padding: 8%;                  /*espaçamento interno entre os elementos*/
    font-family: 'Trebuchet MS';  /*fonte do texto*/
  }
  
  #corpo {                                             /*# puxa o <div class="corpo"> do html*/
    background: #fff;                                /*cor de fundo do corpo do site*/
    border: 1px solid #a818a1;                       /*tamanho, formato e cor da borda do corpo do site*/
    border-radius: 5px;                               /*arredondamento da borda*/
    box-shadow: 10px 10px 10px  rgba(250, 45, 202, 0.3);     /*sombra*/
    margin: 0 auto; /*margim externa entre os elementos*/
  }
  
  header {
    background-color: #a818a1; /*cor do fundp*/
    padding: 2%;                  /*espaçamento interno entre os elementos*/
    border-bottom: 1px solid #222; /*tamanho, formato e cor da borda inferior*/
  }
  
  header h1{
    text-align: center; /*centraliza o texto*/
    color: #222; /*cor do texto*/
    text-shadow: 2px 2px 2px #a818a1; /*sombra*/
    text-transform: uppercase; /*texto todo em maiusculo*/
  }
  h2{
    margin-left: 15%; /*espaçamento externo da esquerda*/
  }
  
  main {
    padding: 2%; /*espaçamento interno entre os elementos*/
  }
  
  footer {
    background: #a818a1; /*cor de fundo*/
    text-align: center; /*centraliza o texto*/
    padding: 2%; /*espaçamento interno entre os elementos*/
    border-top: 1px solid #222; /*tamanho, formato e cor da borda superior*/
  }
  