* { /*seleciona todos os elementos, utilizado mais para zerar as margins e os padding*/
    margin: 0% ;
    padding: 0%;
  }
  
  body{/*estilização do corpo do site*/
    background: #5a5858;  /*cor de fundo*/
    font-family: sans-serif; /*fonte dos textos*/
    border: 1px solid #222; /*tamanho, formato, cor da borda*/
  }
  
  #corpo{ /*estilização da (#) class=corpo*/
    border: 1px solid #222; /*tamanho, formato, cor da borda*/
    border-radius: 2px; /*arredondamento da borda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1); /*sombra*/
  }
  
  header{ /*estilização do cabeçario*/
    padding: 1%;
    border-bottom: 1px solid red; /*tamanho, formato e cor da borda inferior*/
    background: #222; /*cor de fundo */
    border-radius: 2px;/*arredondamento da borda*/
    font-size: 25px; /*tamanho da letra dos textos*/
  }
  
  header h1, h2{ /*estilização dos titulos e subtitulos do cabeçario*/
    text-align: center; /*centraliza os textos*/
    color: yellow; /*cor dos textos*/
    text-shadow: 1px 2px 2px #fff; /*sombra */
    text-transform: uppercase; /*deixa o texto em maiusculo*/
  }
  
  main{ /* estilização do conteudo principal*/
    padding: 2%;
    background-color: #5a5858; /*cor de fundo*/
  }
  
  footer{ /*estilização do rodape*/
    background: #222; /*cor de fundo*/
    text-align: center; /*centraliza os textos*/
    color: yellow; /*cor dos textos*/
    padding: 2%;
    border-radius: 2px; /*arredondamento da borda*/
    border-top: 1px solid red; /*tamanho, formato e cor da borda superior*/ 
  }