table {
    border-collapse: collapse; /* Retira o espaço entre as célular*/
    -webkit-border-radius: 5px; /* HACK: Borda arredondada */
    border-radius: 5px; /* HACK: Borda arredondada */
    overflow: hidden; /* HACK: Borda arredondada */
    width: 100%;
    margin: 2% 0 2% 0; /* Margem: Topo, direita, abaixo e esquerda */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    cursor: default;
}

table thead tr {
    background: #90e0b3;
    color: #000;
    text-transform: uppercase;
    text-align: left;
    padding: 2%;
}

table tbody td, table thead th { padding: 10px;}

table tbody td { border-bottom: 1px solid #ddd; }

table tbody tr:hover {
    background-color: #d3d3d0; cursor: crosshair;
}

table tbody tr:nth-child(odd) { background-color: #EEE;}